html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    background-size:cover;
}
/*empezamos a crear los estilos del header*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(34,195,96);
background: rgba(0, 0, 0, 0.308);
color: rgb(235, 224, 208);
padding: 20px 0px;
}
header h4{
    font-size: 30px;
    font-weight: 800;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 10px;
    flex-wrap: nowrap;
}
img{
    width: 25px;
}
/*vamos con el main */
main{
    display: flex;
    gap:10px;
    justify-content: center;

}
article{
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.562);
    font-size: 20px;
    color: aliceblue;
    border: 2px rgba(255, 255, 255, 0.445) solid;
    width: 300px;
}
.containerReloj{
    margin: 20px;
}
.divDia{
    margin: 20px;
    font-size: 30px;
    padding-top: 10px;
    font-weight: 600;
}
.divHora{  
    margin: 20px;
    padding: 10px 0px;
    font-weight: 800;
    font-size: 30px;
    text-shadow: 1px -4px 7px rgba(255, 0, 0, 0.897); ;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
legend{
    font-size: 20px;
    padding-bottom: 10px;
}
label, input[type="text"]{
    margin: 5px;
}
label{
font-size: 16px;
}
input[type="text"]{
    height: 15px;
    width: auto;
}
button{
    height: 25px;
    width: 100px;
    margin: 10px;
}
#favoritos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:10px
}
.divLink{
   background-color: rgb(64, 65, 64);
   height:40px;
   width: 75px;
   border-radius: 15%;
   border: 2px rgba(255, 0, 0, 0.644) solid;
   position: relative;
}
.btnLink{
    font-size: 11px;
    width: 20px;
    height: auto;
    border-radius: 45%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.479);
    cursor: pointer;
    position: absolute;
    right: -10px;
   bottom: 18px;
   
}
.divLink a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
}

span{
    color: rgb(253, 4, 4);
}

.clima_profundo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.climaXhoras {
    max-width: 300px; /* Ancho máximo del contenedor */
    overflow-x: auto; /* Habilitar el scroll horizontal cuando se excede el ancho */
    white-space: nowrap; /* Evitar saltos de línea para que los elementos se muestren en una sola fila */
}
      
      /* Estilos para los elementos dentro del contenedor horizontal */
.climaXhoras > div {
    display: inline-block; /* Mostrar elementos en línea uno al lado del otro */
    margin: 10px; /* Espacio entre cada elemento */
    vertical-align: top; /* Alinear elementos arriba */
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
.climaXhoras{
    scrollbar-width: auto;
    scrollbar-color: #8f54a0#c7f0f5;
  }

  /* Chrome, Edge, and Safari */
.climaXhoras::-webkit-scrollbar {
    width: 16px;
  }
  
.climaXhoras::-webkit-scrollbar-track {
    background: #c7f0f5;
  }
.climaXhoras::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #c7f0f5;
  }
